beir==2.1.0
biopython==1.85
datasets==3.6.0
faiss-gpu==1.7.2
numpy==1.26.4
pandas==2.2.3
sentence-transformers==5.0.0
torch==2.6.0
torch-adopt==0.1.0
torch-geometric @ git+https://github.com/pyg-team/pytorch_geometric.git@d2bb939a1bfba3b7a6f7d7b102a2771471657319
torchinfo==1.8.0
torchvision==0.21.0
tqdm==4.67.1
transformers==4.53.2
