beir==2.0.0
biopython==1.85
datasets==3.2.0
faiss-cpu==1.9.0
fast-pytorch-kmeans==0.2.0.1
numpy==1.23.5
numpydoc @ file:///croot/numpydoc_1668085905352/work
pandas==2.2.3
sentence-transformers==4.0.2
torch==2.7.0
torch_cluster==1.6.3+pt22cu118
torch_geometric==2.5.3
torch_scatter @ https://data.pyg.org/whl/torch-2.2.0%2Bcu118/torch_scatter-2.1.2%2Bpt22cu118-cp39-cp39-linux_x86_64.whl
torch_sparse==0.6.18+pt22cu118
torch_spline_conv==1.2.2+pt22cu118
torchaudio==2.7.0
torchdata==0.11.0
torchvision==0.22.0
tqdm==4.67.1
transformers==4.52.4
